@model VonageVideoAPISession

@{
    ViewData["Title"] = "Projects";

    string token = ViewBag.Token;
}

<script src="https://static.opentok.com/v2/js/opentok.js"></script>

<iframe src="about:blank" name="miniframe" style="float: right" width="160" height="90"></iframe>

<form asp-controller="Home" asp-action="ForgetSession" asp-route-id="@Model.SessionId">
    <input type="submit" value="Forget session" />
</form>

<form asp-controller="Home" asp-action="StartArchive" asp-route-sessionId="@Model.SessionId" target="miniframe">
    <input type="submit" value="Start archive" />
</form>

<form asp-controller="Home" asp-action="StopArchive" asp-route-sessionId="@Model.SessionId" target="miniframe">
    <input type="submit" value="Stop archive" />
</form>

<form asp-controller="Home" asp-action="ListArchives" method="get">
    <input name="sessionId" value="@Model.SessionId" type="hidden" />
    <label>
        Maximum
        <input name="max" type="number" min="10" max="@(int.MaxValue)" />
    </label>
    <input type="submit" value="List archives" />
</form>

<div id="container">

</div>

<button id="publish_camera">Publish camera</button>
<button id="publish_screen">Publish screen</button>

<script type="text/javascript">
    const projectId = @Html.Raw(Json.Serialize(Model.Project.ApiKey));
    const sessionId = @Html.Raw(Json.Serialize(Model.SessionId));
    const token = @Html.Raw(Json.Serialize(ViewBag.Token));

    const subscribers = new Set();
    const session_promise = new Promise((r, x) => {
        const session = OT.initSession(projectId, sessionId);

        session.on("streamCreated", async event => {
            console.log("streamCreated", event);

            const session = await session_promise;
            const subscriber = session.subscribe(event.stream, document.getElementById("container"), {
                insertMode: "append"
            }, err => {
                if (err) {
                    x(err);
                } else {
                    subscribers.add(subscriber);
                }
            });
        });

        session.on("streamDestroyed", async event => {
            for (const subscriber of subscribers) {
                if (subscriber.streamId === event.stream.id) {
                    session.unsubscribe(subscriber);
                    subscribers.delete(subscriber);
                }
            }
        });

        session.connect(token, err => {
            if (err) {
                x(err);
            } else {
                r(session);
            }
        });
    });

    const publishers = new Set();
    const publish = async (videoSource) => {
        try {
            const session = await session_promise;

            const publisher_promise = await new Promise((r, x) => {
                const publisher = OT.initPublisher(document.getElementById("container"), {
                    videoSource: videoSource,
                    insertMode: "append"
                }, err => {
                    if (err) {
                        x(err);
                    } else {
                        r(publisher);
                    }
                });
            });

            const publisher = await publisher_promise;

            publisher.on("destroyed", () => {
                publishers.delete(publisher);
            });

            session.publish(publisher);
            publishers.add(publisher);

            const button = document.createElement("button");
            button.innerText = `Unpublish ${publisher.streamId}`;
            button.addEventListener("click", () => {
                session.unpublish(publisher);
                document.body.removeChild(button);
            });
            document.body.appendChild(button);
        } catch (e) {
            console.error(e);
        }
    };

    document.getElementById("publish_camera").addEventListener("click", () => publish(undefined));
    document.getElementById("publish_screen").addEventListener("click", () => publish("screen"));
</script>